.calc {
    background: rgb(151, 0, 252);
    color: beige;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.calc input {
    background: rgb(216, 181, 245);
    color: black;
    border-radius: 10px;
    padding: 5px;
}
#spTotal {
background: rgb(170, 123, 218);
color: rgb(25, 2, 34);
border-radius: 5px;
padding: 5px;
margin-bottom: 10px;
}
.calc button {
    background: rgb(187, 126, 211);
    color: rgb(115, 33, 197);
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
.calc button:hover{
    background: rgb(129, 24, 170);
    color: rgb(209, 201, 218);
    cursor: pointer;
}
